services:

  core:
    container_name: prop-gen-core
    build:
      context: ./app
      dockerfile: ./service-core/Dockerfile
      target: dev
    volumes:
      - ./app/service-core:/app/service-core
    ports:
      - 4001:4001
      - 4002:4002
    environment:
      LOG_LEVEL: debug
      HTTP_PORT: 4001
      GRPC_PORT: 4002
      DOMAIN: localhost
      TASK_TOKEN: 1234
      CORE_URL: http://localhost:4001
      ADMIN_URL: http://localhost:3001
      CLIENT_URL: http://localhost:3000
      #
      # Database (postgres, sqlite, turso)
      DATABASE_PROVIDER: ${DATABASE_PROVIDER}
      POSTGRES_HOST: ${POSTGRES_HOST}
      POSTGRES_PORT: ${POSTGRES_PORT}
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      TURSO_URL: ${TURSO_URL}
      TURSO_TOKEN: ${TURSO_TOKEN}
      #
      # Auth
      GITHUB_CLIENT_ID: ${GITHUB_CLIENT_ID}
      GITHUB_CLIENT_SECRET: ${GITHUB_CLIENT_SECRET}
      GOOGLE_CLIENT_ID: ${GOOGLE_CLIENT_ID}
      GOOGLE_CLIENT_SECRET: ${GOOGLE_CLIENT_SECRET}
      TWILIO_ACCOUNT_SID: ${TWILIO_ACCOUNT_SID}
      TWILIO_AUTH_TOKEN: ${TWILIO_AUTH_TOKEN}
      TWILIO_SERVICE_SID: ${TWILIO_SERVICE_SID}
      #
      # Payment (local, stripe)
      PAYMENT_PROVIDER: ${PAYMENT_PROVIDER}
      STRIPE_API_KEY: ${STRIPE_API_KEY}
      STRIPE_PRICE_ID_BASIC: ${STRIPE_PRICE_ID_BASIC}
      STRIPE_PRICE_ID_PREMIUM: ${STRIPE_PRICE_ID_PREMIUM}
      STRIPE_WEBHOOK_SECRET: ${STRIPE_WEBHOOK_SECRET}
      #
      # Email (local, postmark, sendgrid, resend, ses, smtp)
      EMAIL_PROVIDER: ${EMAIL_PROVIDER}
      EMAIL_FROM: ${EMAIL_FROM}
      POSTMARK_API_KEY: ${POSTMARK_API_KEY}
      SENDGRID_API_KEY: ${SENDGRID_API_KEY}
      RESEND_API_KEY: ${RESEND_API_KEY}
      SES_ACCESS_KEY: ${SES_ACCESS_KEY}
      SES_SECRET_KEY: ${SES_SECRET_KEY}
      SES_REGION: ${SES_REGION}
      SMTP_HOST: ${SMTP_HOST}
      SMTP_PORT: ${SMTP_PORT}
      SMTP_USERNAME: ${SMTP_USERNAME}
      SMTP_PASSWORD: ${SMTP_PASSWORD}
      #
      # File (local, r2, s3, gcs, azblob)
      FILE_PROVIDER: ${FILE_PROVIDER}
      LOCAL_FILE_DIR: ${LOCAL_FILE_DIR}
      BUCKET_NAME: ${BUCKET_NAME}
      R2_ENDPOINT: ${R2_ENDPOINT}
      R2_ACCESS_KEY: ${R2_ACCESS_KEY}
      R2_SECRET_KEY: ${R2_SECRET_KEY}
      S3_REGION: ${S3_REGION}
      S3_ACCESS_KEY: ${S3_ACCESS_KEY}
      S3_SECRET_KEY: ${S3_SECRET_KEY}
      GOOGLE_APPLICATION_CREDENTIALS: ${GOOGLE_APPLICATION_CREDENTIALS}
      AZBLOB_ACCOUNT_NAME: ${AZBLOB_ACCOUNT_NAME}
      AZBLOB_ACCOUNT_KEY: ${AZBLOB_ACCOUNT_KEY}

  admin:
    container_name: prop-gen-admin
    build:
      context: ./app
      dockerfile: ./service-admin/Dockerfile
      target: dev
    volumes:
      - ./app/service-admin:/app/service-admin
      - /app/service-admin/node_modules
    ports:
      - 3001:3001
      - 3002:3002
    environment:
      LOG_LEVEL: debug
      HTTP_PORT: 3001
      SSE_PORT: 3002
      DOMAIN: localhost
      ADMIN_URL: http://localhost:3001
      SSE_URL: http://localhost:3002
      NATS_URL: nats://nats:4222
      CORE_URL: http://localhost:4001
      CORE_URI: core:4002

  client:
    container_name: prop-gen-client
    working_dir: /service
    build:
      context: ./service-client
      target: dev
    volumes:
      - ./service-client/src:/service/src
      - ./service-client/.svelte-kit:/service/.svelte-kit
    ports:
      - 3000:3000
    environment:
      LOG_LEVEL: debug
      DOMAIN: localhost
      PUBLIC_CLIENT_URL: http://localhost:3000
      CORE_URL: http://core:4001
      PUBLIC_CORE_URL: http://localhost:4001

  postgres:
    container_name: prop-gen-postgres
    image: postgres
    ports:
      - 5432:5432
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: postgres

  nats:
    container_name: prop-gen-nats
    image: nats
    ports:
      - 8222:8222
    command: "--cluster_name NATS --cluster nats://0.0.0.0:6222 --http_port 8222"

