################################################################################
# Cloud Native PostgreSQL Backup Configuration
################################################################################

apiVersion: postgresql.cnpg.io/v1
kind: Backup
metadata:
  name: one-time-backup
spec:
  cluster:
    name: postgres

---

apiVersion: postgresql.cnpg.io/v1
kind: ScheduledBackup
metadata:
  name: scheduled-backup
spec:
  schedule: "0 0 0 * * *"
  backupOwnerReference: self
  cluster:
    name: postgres
