################################################################################
# Grafana configuration
################################################################################

ingress:
  enabled: true
  annotations: {}
  path: /
  pathType: Prefix
  hosts:
    - ${GRAFANA_URL}

plugins:
  - https://github.com/VictoriaMetrics/victorialogs-datasource/releases/download/v0.16.3/victoriametrics-logs-datasource-v0.16.3.zip;victoriametrics-logs-datasource

grafana.ini:
  plugins:
    allow_loading_unsigned_plugins: victoriametrics-logs-datasource

datasources:
  datasources.yaml:
    apiVersion: 1
    datasources:
      - name: victoriametrics
        type: prometheus
        uid: victoriametrics
        orgId: 1
        url: http://vms-victoria-metrics-single-server.monitoring.svc.cluster.local:8428
        access: proxy
        isDefault: true
        updateIntervalSeconds: 10
        editable: true
      - name: victoralogs
        type: victoriametrics-logs-datasource
        uid: victoralogs
        orgId: 1
        url: http://vls-victoria-logs-single-server.monitoring.svc.cluster.local:9428
        access: proxy
        isDefault: false
        editable: true
      - name: tempo
        type: tempo
        uid: tempo
        orgId: 1
        url: http://tempo.monitoring.svc.cluster.local:3100
        access: proxy
        isDefault: false
        jsonData:
          nodeGraph:
            enabled: true
          tracesToMetrics:
            datasourceUid: victoriametrics
          serviceMap: 
            datasourceUid: victoriametrics

dashboardProviders:
 dashboardproviders.yaml:
   apiVersion: 1
   providers:
   - name: 'default'
     orgId: 1
     folder: ''
     type: file
     disableDeletion: true
     editable: true
     options:
       path: /var/lib/grafana/dashboards/default

dashboards:
  default:
    victoriametrics:
      gnetId: 10229
      revision: 22
      datasource: victoriametrics
    kubernetes:
      gnetId: 14205
      revision: 1
      datasource: victoriametrics
