@import "tailwindcss";
@plugin "daisyui" {
	themes:
		light --default,
		dark --prefersdark,
		dim;
}

@theme {
	--font-poppins: Poppins, sans-serif;
}

* {
	min-width: 0;
}

html {
	scroll-behavior: smooth !important;
}

html {
	height: 100%;
}

body {
	height: 100%;
}
