services:
  nginx:
    container_name: nginx
    image: nginx:alpine
    restart: unless-stopped
    ports:
      - 6000:80
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf
    depends_on:
      - loki
      - grafana
    extra_hosts:
      - "host.docker.internal:host-gateway"

  grafana:
    container_name: grafana
    image: grafana/grafana
    restart: unless-stopped
    user: "0"
    volumes:
      - ./data:/var/lib/grafana
    extra_hosts:
      - "host.docker.internal:host-gateway"

  loki:
    container_name: loki
    image: grafana/loki
    restart: unless-stopped
