@import "tailwindcss";
@plugin "daisyui" {
	themes:
		light --default,
		dark --prefersdark,
		dim;
}

@theme {
	--font-poppins: Poppins, sans-serif;
}

* {
	min-width: 0;
}

html {
	scroll-behavior: smooth !important;
}

html {
	height: 100%;
}

body {
	height: 100%;
}

@keyframes progress {
	0% { width: 0%; }
	50% { width: 70%; }
	100% { width: 95%; }
}

.animate-progress {
	animation: progress 2s ease-out forwards;
}
