name: Lint Go
on:
  workflow_call:
    inputs:
      working-directory:
        required: true
        type: string

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: "1.24"
          cache: false
      - name: Lint
        uses: golangci/golangci-lint-action@v8
        with:
          version: latest
          working-directory: ${{ inputs.working-directory }}
      - name: Test
        run: go test -v ./...
        working-directory: ${{ inputs.working-directory }}
