name: Migration
on:
  workflow_call:
    inputs:
      DIRECTORY:
        required: true
        type: string

jobs:
  atlas-migration:
    runs-on: ubuntu-latest
    environment: ${{ github.event.release.prerelease == true && 'release-candidate' || 'release' }}

    services:
      postgres:
        image: postgres:15
        ports:
          - 5433:5432
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
          POSTGRES_DB: postgres
        options: >-
          --health-cmd "pg_isready -U postgres"
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      # Google Cloud SQL Auth Proxy setup
      # Uncomment the following steps if you want to authenticate to Google Cloud and use Cloud SQL Auth Proxy.
      # - name: Authenticate to Google Cloud
      #   id: auth
      #   uses: google-github-actions/auth@v2
      #   with:
      #     credentials_json: ${{ secrets.GCP_SA_KEY }}

      # - name: Download Cloud SQL Auth Proxy
      #   run: |
      #     wget https://storage.googleapis.com/cloud-sql-connectors/cloud-sql-proxy/v2.16.0/cloud-sql-proxy.linux.amd64 -O cloud-sql-proxy
      #     chmod +x cloud-sql-proxy

      # - name: Start Cloud SQL Auth Proxy
      #   run: |
      #     echo "Starting Cloud SQL Auth Proxy..."
      #     ./cloud-sql-proxy --address 127.0.0.1 --port 5432 ${{ secrets.CLOUD_SQL_CONNECTION_NAME }} &
      #     PROXY_PID=$!
      #     echo "PROXY_PID=$PROXY_PID" >> $GITHUB_ENV
      #     echo "Waiting for proxy to be ready..."
      #     sleep 5
      #     if ! kill -0 $PROXY_PID; then echo "Proxy failed to start."; exit 1; fi
      #     echo "Cloud SQL Auth Proxy ready."

      # CloudNativePG service setup
      # Comment the following steps if you don't want to use CloudNativePG service.
      - name: Setup kubectl
        uses: azure/setup-kubectl@v3

      - name: Set Kubernetes Context
        uses: azure/k8s-set-context@v3
        with:
          kubeconfig: ${{ secrets.KUBE_CONFIG }}

      - name: Start Port Forwarding
        run: |
          echo "Starting port-forward..."
          kubectl port-forward -n db svc/postgres-rw 5432:5432 &
          PROXY_PID=$!
          echo "PROXY_PID=$PROXY_PID" >> $GITHUB_ENV
          echo "Waiting for port-forward to be ready..."
          timeout 30s bash -c 'until nc -z localhost 5432; do sleep 1; done'
          if [ $? -ne 0 ]; then
            echo "Port-forward failed to become ready after 30 seconds."
            kill $PROXY_PID || true
            exit 1
          fi
          echo "Port-forward ready."

      # Atlas migration steps
      - name: Setup Atlas
        uses: ariga/setup-atlas@v0

      - name: Run Atlas
        uses: ariga/atlas-action/schema/apply@v1
        with:
          to: file://./${{ inputs.DIRECTORY }}/schema_postgres.sql
          url: "postgres://${{ secrets.DB_USER }}:${{ secrets.DB_PASSWORD }}@127.0.0.1:5432/${{ secrets.DB_NAME }}?sslmode=disable"
          auto-approve: true
          dev-url: postgres://postgres:postgres@localhost:5433/postgres?sslmode=disable

      - name: Cleanup Port Forwarding
        if: always()
        run: |
          if [ -n "$PROXY_PID" ]; then
            kill $PROXY_PID || true
          fi
