name: Pull Request

on:
  pull_request:

jobs:
  lint-service-core:
    uses: ./.github/workflows/lint-go.yml
    with:
      working-directory: app/service-core
  lint-service-admin:
    uses: ./.github/workflows/lint-go.yml
    with:
      working-directory: app/service-admin
  lint-service-client:
    uses: ./.github/workflows/lint-ts.yml
    with:
      working-directory: service-client
